html, body {
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  padding: 0;
  margin: 0;
  color: #333;
  display: flex;
  flex-direction: column;
}

a, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header#base {
  padding: 10px;

  h1 {
    margin-left: 20px;
    font-size: 17px;
    text-transform: uppercase;
  }
}

section#content {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 30px;
  width: 700px;

  h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 29px;
  }

  section.description {
    line-height: 1.7em;
    font-size: 21px;
    font-family: 'IBM Plex Serif', serif;
  }

  div.links {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    text-align: right;
    font-size: 21px;

    ul li {
      display: inline;
    }
    a, a:visited {
      font-size: 17px;
      padding: 10px 15px;
      background: #333;
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      background: #000;
      color: #fff;
    }
  }

  div.search {
    display: block;
    margin-bottom: 70px;
    margin-top: 40px;

    input[type="text"] {
      width: 676px;
      padding: 10px;
      font-size: 24px;
      color: #333;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'IBM Plex Serif', serif;
    color: #999;
  }

  ul {
    padding: 0;

    li {
      font-size: 21px;
      padding: 15px 0;
      list-style: none;

      a, a:visited {
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  div.form {
    width: 700px;

    h2 {
      font-size: 24px;
      font-weight: normal;
    }

    input[type="text"] {
      padding: 10px;
      font-size: 17px;
      width: 674px;
      margin-bottom: 20px;
    }

    textarea {
      padding: 10px;
      font-size: 17px;
      width: 674px;
      height: 400px;
      margin-bottom: 20px;
    }

    label {
      font-size: 11px;
      font-weight: bold;
      color: #555;
      text-transform: uppercase;
    }
  }
}

footer {
  border-top: 1px solid #ededed;
  text-align: right;
  padding: 10px;
  flex-shrink: 0;

  ul {
    font-size: 14px;
    list-style: none;

    li {
      display: inline;

      &:after {
        padding: 0 10px 0 10px;
        content: '|';
        color: #ccc;
      }

      &:last-child:after {
        content: '';
      }

      a, a:visited {
        color: #555;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
