html, body {
  height: 100%; }

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  padding: 0;
  margin: 0;
  color: #333;
  display: flex;
  flex-direction: column; }

a, a:visited {
  color: #333;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

header#base {
  padding: 10px; }
  header#base h1 {
    margin-left: 20px;
    font-size: 17px;
    text-transform: uppercase; }

section#content {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 30px;
  width: 700px; }
  section#content h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 29px; }
  section#content section.description {
    line-height: 1.7em;
    font-size: 21px;
    font-family: 'IBM Plex Serif', serif; }
  section#content div.links {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    text-align: right;
    font-size: 21px; }
    section#content div.links ul li {
      display: inline; }
    section#content div.links a, section#content div.links a:visited {
      font-size: 17px;
      padding: 10px 15px;
      background: #333;
      color: #fff;
      text-decoration: none; }
    section#content div.links a:hover {
      background: #000;
      color: #fff; }
  section#content div.search {
    display: block;
    margin-bottom: 70px;
    margin-top: 40px; }
    section#content div.search input[type="text"] {
      width: 676px;
      padding: 10px;
      font-size: 24px;
      color: #333; }
  section#content h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'IBM Plex Serif', serif;
    color: #999; }
  section#content ul {
    padding: 0; }
    section#content ul li {
      font-size: 21px;
      padding: 5px 0;
      list-style: none; }
      section#content ul li a, section#content ul li a:visited {
        text-decoration: underline; }
      section#content ul li a:hover {
        text-decoration: none; }
  section#content div.form {
    width: 700px; }
    section#content div.form h2 {
      font-size: 24px;
      font-weight: normal; }
    section#content div.form input[type="text"] {
      padding: 10px;
      font-size: 17px;
      width: 674px;
      margin-bottom: 20px; }
    section#content div.form textarea {
      padding: 10px;
      font-size: 17px;
      width: 674px;
      height: 400px;
      margin-bottom: 20px; }
    section#content div.form label {
      font-size: 11px;
      font-weight: bold;
      color: #555;
      text-transform: uppercase; }

footer {
  border-top: 1px solid #ededed;
  text-align: right;
  padding: 10px;
  flex-shrink: 0; }
  footer ul {
    font-size: 14px;
    list-style: none; }
    footer ul li {
      display: inline; }
      footer ul li:after {
        padding: 0 10px 0 10px;
        content: '|';
        color: #ccc; }
      footer ul li:last-child:after {
        content: ''; }
      footer ul li a, footer ul li a:visited {
        color: #555;
        text-decoration: underline; }
      footer ul li a:hover {
        text-decoration: none; }

/*# sourceMappingURL=screen.css.map */
