<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kubbe / New Place</title>
    <link rel="stylesheet" media="screen" href="/styles/screen.css">
</head>
<body>
<h1>Kubbe</h1>
<h2>Create a New Place</h2>
<form method="POST" action="/manage/places">
    <label>Title:</label><br/>
    <input type="text" name="title"><br/>
    <label>Description:</label><br/>
    <textarea name="description"></textarea><br/>
    <label>Latitude:</label><br/>
    <input type="text" name="lat"><br/>
    <label>Longitude:</label><br/>
    <input type="text" name="lon"><br/>
    <input type="submit" value="Create">
</form>
</body>
</html>
