{{define "page"}}{{(index .Data.Contents 0).Title}}{{end}}

{{define "content"}}
	<div class="place">
		<h1>{{(index .Data.Contents 0).Title}}</h1>
        <div class="id">{{(index .Data.Contents 0).ID}}</div>
		<section class="description">
            {{(index .Data.Contents 0).Description}}
		</section>

		<div class="links">
			<ul>
				<li><a href="/places/{{(index .Data.Contents 0).ID}}/edit">Suggest a Correction</a></li>
				<li><a href="https://maps.google.com/maps?daddr={{.Data.Lat}},{{.Data.Lon}}">Show Location in Maps
						&rarr;
					</a></li>
			</ul>
		</div>
	</div>
{{end}}
